@mixin overline($line: 1){
  @if $line == 1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 1;
  } @if $line == 2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;  
    overflow: hidden;
  }
}